*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border-box removes default margin and padding */
}

/* asterisk up top refers to everything */
/* block of text up top resets all CSS to zero */

body{
  margin: 40px;
  padding-right: 400px;
  font-family: 'Roboto Mono' ;
  font-weight: 100;
  font-size: 13px;
  color: #fff;
  background: #000;
}

a{
	color: #fff;
	/* text-decoration: none; */
}

a:hover {
    color: hotpink;
}

h1{
	font-size: 13px;
	font-weight: 300;
	padding-top: 20px;
}

h2{
	font-size: 13px;
	font-weight: 300;
  padding-top: 40px;
}

img{
	padding-top: 20px;
	opacity: 0.75;
}

section{
  padding-top: 20px;
}

footer{
  position: absolute;
  bottom: 40px;
  /* Is this the right way to position at bottom? */
	color: #fff;
}
