*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border-box removes default margin and padding */
}

/* asterisk up top refers to everything */
/* block of text up top resets all CSS to zero */

body{
  margin: 40px;
	padding-right: 200px;
  font-family: 'Roboto Mono' ;
  font-weight: 100;
  font-size: 13px;
	line-height: 1.5;
  color: #fff;
  background: #000;
}

nav {
	text-align: center;
	color: #fff;
}

a{
	color: inherit;
}

a:hover {
  color: lime;
}

#content1{
	width: 400px;
	float: left;
}
#content2{
	float: right;
	padding-top: 20px;
}

h1{
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	padding-top: 40px;
}

h2{
	font-size: 13px;
	font-weight: 300;
  padding-top: 40px;
}

h3{
	font-size: 13px;
	font-weight: 300;
  padding-top: 40px;
}

h4{
	font-size: 13px;
	font-weight: 100;
	padding-top: 40px;
}


img{
	padding-top: 20px;
	opacity: 0.75;
}


footer{
  position: fixed;
  bottom: 40px;
	color: #fff;
}

div.footer{
	padding-top: 60px;
}
